---
http_interactions:
- request:
    method: post
    uri: https://env-vcenter8-ipv4.infra.sat.rdu2.redhat.com/sdk
    body:
      encoding: UTF-8
      string: <env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><env:Body><RetrieveProperties
        xmlns="urn:vim25"><_this type="PropertyCollector">propertyCollector</_this><specSet
        xsi:type="PropertyFilterSpec"><propSet xsi:type="PropertySpec"><type>Datacenter</type><pathSet>name</pathSet></propSet><objectSet
        xsi:type="ObjectSpec"><obj type="Datacenter">datacenter-2</obj></objectSet></specSet></RetrieveProperties></env:Body></env:Envelope>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Soapaction:
      - urn:vim25/6.7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <soapenv:Envelope xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
         xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
         xmlns:xsd="http://www.w3.org/2001/XMLSchema"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <soapenv:Body>
        <RetrievePropertiesResponse xmlns="urn:vim25"><returnval><obj type="Datacenter">datacenter-2</obj><propSet><name>name</name><val xsi:type="xsd:string">BRQ</val></propSet></returnval></RetrievePropertiesResponse>
        </soapenv:Body>
        </soapenv:Envelope>
  recorded_at: Wed, 17 Apr 2019 00:25:33 GMT
- request:
    method: post
    uri: https://env-vcenter8-ipv4.infra.sat.rdu2.redhat.com/sdk
    body:
      encoding: UTF-8
      string: <env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><env:Body><FindByUuid
        xmlns="urn:vim25"><_this type="SearchIndex">SearchIndex</_this><datacenter
        type="Datacenter">datacenter-2</datacenter><uuid>500e2be9-4762-1f52-5e7c-f37444be5f6e</uuid><vmSearch>1</vmSearch><instanceUuid>1</instanceUuid></FindByUuid></env:Body></env:Envelope>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Soapaction:
      - urn:vim25/6.7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <soapenv:Envelope xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
         xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
         xmlns:xsd="http://www.w3.org/2001/XMLSchema"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <soapenv:Body>
        <FindByUuidResponse xmlns="urn:vim25"><returnval type="VirtualMachine">vm-52</returnval></FindByUuidResponse>
        </soapenv:Body>
        </soapenv:Envelope>
  recorded_at: Wed, 17 Apr 2019 00:25:33 GMT
[...]
- request:
    method: post
    uri: https://env-vcenter8-ipv4.infra.sat.rdu2.redhat.com/sdk
    body:
      encoding: UTF-8
      string: <env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><env:Body><RetrieveProperties
        xmlns="urn:vim25"><_this type="PropertyCollector">propertyCollector</_this><specSet
        xsi:type="PropertyFilterSpec"><propSet xsi:type="PropertySpec"><type>ManagedEntity</type><pathSet>name</pathSet><pathSet>parent</pathSet></propSet><objectSet
        xsi:type="ObjectSpec"><obj type="Folder">group-v3</obj><selectSet xsi:type="TraversalSpec"><name>tsME</name><type>ManagedEntity</type><path>parent</path><skip>0</skip><selectSet
        xsi:type="SelectionSpec"><name>tsME</name></selectSet></selectSet></objectSet></specSet></RetrieveProperties></env:Body></env:Envelope>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Soapaction:
      - urn:vim25/6.7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <soap[...]
- request:
    method: post
    uri: https://env-vcenter8-ipv4.infra.sat.rdu2.redhat.com/sdk
    body:
      encoding: UTF-8
      string: <env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><env:Body><RetrieveProperties
        xmlns="urn:vim25"><_this type="PropertyCollector">propertyCollector</_this><specSet
        xsi:type="PropertyFilterSpec"><propSet xsi:type="PropertySpec"><type>Datacenter</type><pathSet>vmFolder</pathSet></propSet><objectSet
        xsi:type="ObjectSpec"><obj type="Datacenter">datacenter-3</obj></objectSet></specSet></RetrieveProperties></env:Body></env:Envelope>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Soapaction:
      - urn:vim25/8.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-Applied-Soapaction:
      - urn:vim25/8.0.3.0
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <soapenv:Envelope xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
         xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
         xmlns:xsd="http://www.w3.org/2001/XMLSchema"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <soapenv:Body>
        <RetrievePropertiesResponse xmlns="urn:vim25"><returnval><obj type="Datacenter">datacenter-3</obj><propSet><name>vmFolder</name><val type="Folder" xsi:type="ManagedObjectReference">group-v4</val></propSet></returnval></RetrievePropertiesResponse>
        </soapenv:Body>
        </soapenv:Envelope>
  recorded_at: Mon, 28 Apr 2025 13:09:58 GMT
- request:
    method: post
    uri: https://env-vcenter8-ipv4.infra.sat.rdu2.redhat.com/sdk
    body:
      encoding: UTF-8
      string: <env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><env:Body><CreateContainerView
        xmlns="urn:vim25"><_this type="ViewManager">ViewManager</_this><container
        type="Datacenter">datacenter-3</container><type>VirtualMachine</type><recursive>1</recursive></CreateContainerView></env:Body></env:Envelope>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Soapaction:
      - urn:vim25/8.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-Applied-Soapaction:
      - urn:vim25/8.0.3.0
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <soapenv:Envelope xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
         xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
         xmlns:xsd="http://www.w3.org/2001/XMLSchema"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <soapenv:Body>
        <CreateContainerViewResponse xmlns="urn:vim25"><returnval type="ContainerView">session[522072f0-eb08-4ef9-9f28-b0a75b8fa041]52c706ed-3e3b-3e6d-772a-4b89e2ecdd2a</returnval></CreateContainerViewResponse>
        </soapenv:Body>
        </soapenv:Envelope>
  recorded_at: Mon, 28 Apr 2025 13:09:58 GMT
[...]
- request:
    method: post
    uri: https://env-vcenter8-ipv4.infra.sat.rdu2.redhat.com/sdk
    body:
      encoding: UTF-8
      string: <env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><env:Body><DestroyView
        xmlns="urn:vim25"><_this type="ContainerView">session[522072f0-eb08-4ef9-9f28-b0a75b8fa041]52c706ed-3e3b-3e6d-772a-4b89e2ecdd2a</_this></DestroyView></env:Body></env:Envelope>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Soapaction:
      - urn:vim25/8.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-Applied-Soapaction:
      - urn:vim25/8.0.3.0
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <soapenv:Envelope xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
         xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
         xmlns:xsd="http://www.w3.org/2001/XMLSchema"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <soapenv:Body>
        <DestroyViewResponse xmlns="urn:vim25"></DestroyViewResponse>
        </soapenv:Body>
        </soapenv:Envelope>
  recorded_at: Mon, 28 Apr 2025 13:09:59 GMT
[...]
